@{
    ViewBag.Title = "O Firmie";
    Layout = "_Layout";
}


<div class="container desc-div">
    <div class="row shadow p-3 mb-5 bg-white rounded">
        @*<div class="col-12">*@
        <div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta felis tempus mi sollicitudin, sit amet pretium urna facilisis. Mauris
                    pellentesque sem ut leo consectetur varius. Integer dignissim neque vitae nunc semper, nec eleifend velit elementum.
                    Ut vel ultrices lorem. Sed imperdiet augue in rutrum tempor. Integer tincidunt ligula consequat, maximus turpis et, fermentum felis.
                    Sed pharetra sem libero, volutpat porttitor ante accumsan vel. Integer tristique diam nec lobortis fermentum. Nulla ut eleifend arcu.
                    Proin ornare magna vitae ante elementum, vel placerat quam egestas.
                </p>
                <p>
                    Cras vel justo varius, tincidunt diam non, finibus nisi. Aliquam erat volutpat. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus
                    orci luctus et ultrices posuere cubilia curae; Nulla efficitur mi ante, vel molestie sapien lobortis ac. Nullam iaculis elit vitae lectus dignissim
                    posuere. Suspendisse potenti. In risus ligula, elementum et dolor non, vestibulum imperdiet lectus. Phasellus non nisi id odio venenatis varius.
                    Phasellus maximus ultrices dictum.
                </p>
                <p>
                    Quisque id risus sed augue iaculis tristique. Morbi at congue ligula, id euismod mauris. Nulla sapien quam, commodo id elementum a, imperdiet at nibh.
                    Nunc ornare faucibus est et suscipit. Suspendisse tristique felis velit, eu aliquet enim tempus a. Suspendisse et purus et nisl placerat euismod.
                    Nunc malesuada massa eget ante convallis, a scelerisque lacus blandit.
                </p>
            </div>
        </div>
    </div>
</div>