@{
    ViewBag.Title = "Kontakt";
    Layout = "_Layout";
}


<div class="container desc-div">
    <div class="row shadow p-3 mb-5 bg-white rounded">
        @*<div class="col-12">*@
        <div>
            <div>
                <p>
                    Skontaktuj się z nami pod numeremi: <br />
                    <ul>
                        <li>+48 444-444-444</li>
                        <li>+48 444-444-555</li>
                        <li>+48 444-444-666</li>
                    </ul>
                </p>
                <p>
                    Nasze garaże znajdują się:<br />
                    <ul>
                        <li>
                            ul. Ulica 11<br/>
                            00-000 Warszawa
                        </li>
                        <li>
                            ul. Ulica 11<br />
                            00-000 Warszawa
                        </li>
                        <li>
                            ul. Ulica 11<br />
                            00-000 Warszawa
                        </li>
                    </ul>
                </p>
                <p>
                    Quisque id risus sed augue iaculis tristique. Morbi at congue ligula, id euismod mauris. Nulla sapien quam, commodo id elementum a, imperdiet at nibh.
                    Nunc ornare faucibus est et suscipit. Suspendisse tristique felis velit, eu aliquet enim tempus a. Suspendisse et purus et nisl placerat euismod.
                    Nunc malesuada massa eget ante convallis, a scelerisque lacus blandit.
                </p>
            </div>
        </div>
    </div>
</div>