@model Machines
@{
    ViewBag.Title = "Dodaj maszynę";
    Layout = "_Layout";
}


<div class="signup-form">

    <form asp-controller="Machine" asp-action="FormReservation" method="post" class="shadow p-3">
        <h2>Dodawanie maszyny</h2>
        
        <div class="form-group">
            <input asp-for="Brand" type="text" class="form-control" placeholder="Marka maszyny" required="required" />
            <span asp-validation-for="Brand"></span>
        </div>
        <div class="form-group">
            <input asp-for="Model" type="text" class="form-control" placeholder="Model maszyny" required="required" />
            <span asp-validation-for="Model"></span>
        </div>
        <div class="form-group">
            <input asp-for="CostPerDay" type="number" class="form-control" placeholder="Cena za dzień" value="Wprowadź cenę za dzień" required="required" />
            <span asp-validation-for="CostPerDay"></span>
        </div>
        <div class="form-group">
            <input asp-for="HorsePower" type="number" class="form-control" placeholder="Ilość BHP" value="Ilość BHP" required="required" />
            <span asp-validation-for="HorsePower"></span>
        </div>
        <div class="form-group">
            @*<button type="submit" class="btn btn-primary btn-lg">Dodaj maszynę</button>*@
            <a class="btn btn-primary btn-lg" href="#">Dodaj maszynę</a>
            <a class="btn btn-primary btn-lg" asp-controller="Machine" asp-action="GetAll">Anuluj</a>
        </div>

    </form>

</div>
