<footer class="page-footer font-small unique-color-dark mt-4 bg-dark">

    <div style="background-color: #ecd500;">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Get connected with us on social networks!</h6>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g white-text mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram white-text"> </i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold" style="color: rgb(255, 255, 255);">RentBud</h6>
                <hr class="mb-4 mt-0 d-inline-block bg-light mx-auto" style="width: 60px;">
                <p style="color: rgb(219, 219, 219);">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis mattis lacus, in commodo erat imperdiet sit amet. Ut sit amet metus sed libero tristique.
                </p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Collaborators paragraph -->
                <h6 class="text-uppercase font-weight-bold" style="color: rgb(255, 255, 255);">Współpracownicy</h6>
                <hr class="mb-4 mt-0 d-inline-block bg-light mx-auto" style="width: 60px;">
                <p style="color: rgb(219, 219, 219);">Brand_1</p>
                <p style="color: rgb(219, 219, 219);">Brand_2</p>
                <p style="color: rgb(219, 219, 219);">Brand_3</p>
                <p style="color: rgb(219, 219, 219);">Brand_4</p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold" style="color: rgb(255, 255, 255);">Linki</h6>
                <hr class="mb-4 mt-0 d-inline-block bg-light mx-auto" style="width: 60px;">
                <p>
                    <a style="color: rgb(219, 219, 219);" href="#!">Konto</a>
                </p>
                <p>
                    <a style="color: rgb(219, 219, 219);" href="#!">Zostań członkiem</a>
                </p>
                <p>
                    <a style="color: rgb(219, 219, 219);" href="#!">Opinie</a>
                </p>
                <p>
                    <a style="color: rgb(219, 219, 219);" href="#!">Pomoc</a>
                </p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold" style="color: rgb(255, 255, 255);">Kontakt</h6>
                <hr class="mb-4 mt-0 d-inline-block bg-light mx-auto" style="width: 60px;">
                <p style="color: rgb(219, 219, 219);">
                    <i style="color: rgb(255, 255, 255);" class="fas fa-home mr-3"></i> New York, NY 10012, US
                </p>
                <p style="color: rgb(219, 219, 219);">
                    <i style="color: rgb(255, 255, 255);" class="fas fa-envelope mr-3"></i> info@example.com
                </p>
                <p style="color: rgb(219, 219, 219);">
                    <i style="color: rgb(255, 255, 255);" class="fas fa-phone mr-3"></i> + 01 234 567 88
                </p>
                <p style="color: rgb(219, 219, 219);">
                    <i style="color: rgb(255, 255, 255);" class="fas fa-print mr-3"></i> + 01 234 567 89
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div style="color: rgb(172, 172, 172);" class="footer-copyright text-center py-3">
        © 2020 Copyright: <p style="color: rgb(219, 219, 219);">RentBud</p>
    </div>
    <!-- Copyright -->

</footer>