<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light justify-content-around">
    <a class="navbar-brand main-logo" href="#">RentBud</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <!-- <a class="nav-item nav-link ml-4" href="#">Strona główna<span class="sr-only">(current)</span></a> -->
            <a class="nav-item nav-link mr-5" href="#">DLACZEGO MY</a>
            <a class="nav-item nav-link mr-5" href="#">O FIRMIE</a>
            <a class="nav-item nav-link mr-5" href="#">KONTAKT</a>

            @if (User.Identity.IsAuthenticated)
            {
                <a class="nav-item nav-link mr-5" href="#">LISTA POJAZDÓW</a>
                <a class="nav-item nav-link mr-5" asp-action="Logout"  asp-controller="Account">WYLOGUJ</a>
            }

            @if (!User.Identity.IsAuthenticated)
            {
                <a class="nav-item nav-link mr-5" asp-action="Login" asp-controller="Account">LOGOWANIE</a>
                <a class="nav-item nav-link mr-5" asp-action="Register" asp-controller="Account">REJESTRACJA</a>
            }

            <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
        </div>
    </div>
</nav>